/*GENERAL STYLES*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: linear-gradient(to bottom, #009688 0%, #009688 18%, #d2dbdc 18%, #d2dbdc 100%);
}

/*UTILITIES*/

h3 {
    font-size: 16px;
    font-weight: 500;
    margin-left: 10px;
}

.img {
    border-radius: 50%;
    width: 55px;
    height: 55px;
}

.icons {
    width: 100px;
    display: inline-flex;
    justify-content: space-between;
    color: #b1b1b1;
    font-size: 20px;
    padding-right: 5px;
}

input::placeholder {
    color: #b5b9bb;
}

.hide {
    display: none;
}

.show {
    display: block;
}

/*CONTAINER*/

.container {
    display: flex;
    width: 80%;
    min-width: 1024px;
    height: 95%;
    background: #ffffff;
}

/*SIDE*/

.side {
    flex-basis: 35%;
    border-right: 1px solid #d6d6d6;
}

.userbar {
    width: 100%;
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    background: #eaeaea;
}

.userbar .user {
    flex-grow: 1;
    display: inline-flex;
    align-items: center;
}


/*AREA LATERALE NOTIFICHE*/

.notifica {
    width: 100%;
    background: #74dcff;
    display: inline-flex;
    justify-content: start;
    align-items: center;
    padding: 20px;
}

.icona-notifica {
    width: 50px;
    height: 50px;
    background: #f0fbff;
    color: #74dcff;
    line-height: 50px;
    text-align: center;
    border-radius: 50%;
    font-size: 20px;
}

.ricevi-notifiche {
    font-size: 14px;
    margin-left: 10px;
}

.notifiche-desk {
    display: block;
    font-size: 12px;
    text-decoration: underline;
    color: #437587;
}


/*SEARCH*/

.search {
    background: #fafafa;
    padding: 5px;
    display: inline-flex;
    width: 100%;
}

.search-box {
    border: 1px solid #f5f5f5;
    background: #fff;
    flex-grow: 1;
    padding: 5px;
    border-bottom-right-radius: 3px;
    border-top-right-radius: 3px;
    display: inline-flex;
    align-items: center;
}

.search i {
    margin: 0 20px;
    color: #b5b9bb;
}

.search input {
    line-height: 30px;
    border: transparent;
    flex-grow: 1;
}

.search input:focus {
    border: 1px solid #f0f8ff; /*aliceblue*/
    box-shadow: 0px 0px 2px rgba(0,0,0, .4);
}


/*LISTA CHAT*/

.listachat {
    background: #ffffff;
    overflow-y: auto;
}

.listachat ul {
    list-style: none;
}

.chatlist ul li {
    padding: 10px;
    display: flex;
    align-items: center;
    border-top: 1px solid #f5f5f5;
    cursor: pointer;
}

li.contact:hover {
    background: #eee;
}

li.active {
    background: #eee;
}

.chatlist ul li span {
    margin-left: 10px;
}


/*MAIN*/

.content {
    flex-basis: 65%;
    display: flex;
    flex-direction: column;
}

.mc-header {
    background: #eaeaea;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}

.mc-header .header-user {
    display: inline-flex;
    align-items: center;
}

.mc-header .header-user h3 small {
    font-size: 12px;
    color: #70797c;
    display: block;
}

/*CONTENT*/
.chat-boxes {
    flex-grow: 1;
    background-image: url(../img/mine.jpg);
    background-position: center;
    background-repeat: repeat;
    padding: 30px 50px;
    overflow-y: auto;
}

.usr-msg-sent {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: 8px 0;
}

.usr-msg-received {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 8px 0;
}

.box {
    width: 400px;
    padding: 10px 20px;
    border-radius: 5px;
    text-align: left;
    position: relative;
}

.box i {
    display: none;
    position: absolute;
    top: 5px;
    right: 10px;
    color: #ccc;
    font-size: 16px;
}

.box:hover i {
    display: block;
}

.box small {
    color: #ccc;
    display: block;
    text-align: right;
    margin-top: 5px;
}

.sent {
    background: #cbfbb3;
}

.sent::before {
    content: '';
    position: absolute;
    top: 0px;
    right: -8px;
    width: 0;
    height: 0;
    border-top: 10px solid #cbfbb3;
    border-right: 10px solid transparent;
}

.received {
    background: #fff;
}

.received::before {
    content: '';
    position: absolute;
    top: 0px;
    left: -8px;
    width: 0;
    height: 0;
    border-top: 10px solid #fff;
    border-left: 10px solid transparent;
}


/*FOOTER*/
.area-footer {
    background: #f4eeea;
    display: inline-flex;
    padding: 10px;
    justify-content: space-around;
    align-items: center;
}

.area-footer i {
    margin: 0 20px;
    color: #697376;
    font-size: 20px;
}

.area-footer input {
    flex-grow: 1;
    margin: 0 20px;
    border: transparent;
    border-radius: 5px;
    line-height: 25px;
    padding: 10px;
}

.area-footer input:focus {
    border: 2px solid #f0f8ff;/*aliceblue*/
    box-shadow: 0px 0px 3px rgba(0,0,0, .4);
}
